In [11]:
import pandas as pd
tes = pd.read_csv("data/upstream.tsv", sep='\t')
count = pd.read_csv("data/genexp_count.tsv", sep='\t')
count['mean_exp']= count.mean(axis=1)
count=count[["gene", "mean_exp"]]
count

/tmp/ipykernel_6378/2861631574.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  count['mean_exp']= count.mean(axis=1)

                  gene   mean_exp
0      Sc0000000G0.100  23.543141
1       Sc0000000G0.33   1.185591
2       Sc0000000G0.92  20.229643
3       Sc0000000G0.95  25.905368
4       Sc0000000G0.97   0.192200
...                ...        ...
37648  xpSc0025123G0.4   9.888091
37649  xpSc0025138G0.3   0.000000
37650  xpSc0025197G0.4  20.286755
37651  xpSc0025446G0.4  44.307813
37652  xpSc0025605G0.0  80.160959

[37653 rows x 2 columns]

In [12]:
tes_count = pd.merge(tes, count, on="gene")
#del coding_count["label"]
tes_count

,sff,tss,gene,start,end,te,mean_exp
0,Sc0000000,5660,Sc0000000G0.97,1963,2186,LTR/Gypsy,0.192200
1,Sc0000000,5660,Sc0000000G0.97,5371,5435,DNA/hAT-Ac,0.192200
2,Sc0000000,5660,Sc0000000G0.97,7320,7680,DNA/hAT-Tag1,0.192200
3,Sc0000000,5660,Sc0000000G0.97,8145,8316,DNA/hAT-Tag1,0.192200
4,Sc0000000,5660,Sc0000000G0.97,10773,11124,LTR/Gypsy,0.192200
...,...,...,...,...,...,...,...
304468,xpSc0023731,1381,xpSc0023731G0.5,74,298,DNA/TcMar-Tc2,2.054058
304469,xpSc0023935,28,xpSc0023935G0.7,1947,1975,LTR/Copia,35.467396
304470,xpSc0024146,995,xpSc0024146G0.0,1980,2054,DNA/hAT-Ac,0.000000
304471,xpSc0024220,883,xpSc0024220G0.4,2,635,LTR/Copia,7.548176
304472,xpSc0025138,286,xpSc0025138G0.3,828,1313,LTR/Copia,0.000000

In [14]:
tes_count.to_csv("data/tesvsgenes.tsv", sep='\t', index=False)